* {
  margin: 0;
  padding: 0;
}
.main-container {
  height: 800px;
  
}
.dd {
  padding-top: 70px;
}
.enterContainer {
  margin-top: 10rem;
  padding: 5rem;
  display: flex;
  justify-content: space-around;
}
.main_title {
  margin: 1.5rem;
}
.imgContent {
  padding: 0;
  overflow: hidden;
  height: 100%;
}
.dd {
  position: absolute;
  z-index: 0;
  text-align: center;
}
.imgContent img {
  object-fit: cover;
}
.img {
  width: 80%;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 2px 2px 1px #ccc;
}
#hunger {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 5rem 0 0 0;
  object-fit: fill;
}
.imgsic {
  margin-top: 7rem;
}
.flexBox {
  margin: 0 auto;
  margin-top: 7rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.flexBox img {
  width: max-content;
}
.textCon {
  text-align: left;
  border-radius: 12px;
  background-color: bisque;
  padding: 1rem;
}
.textCon2 {
  display: table-cell;
  text-align: left;
  padding: 1rem;
}
.h3-tex {
  font-size: 2.5rem;
  color: blue;
}
.h4-tex {
  font-size: 2rem;
}
@media only screen and (max-width:780px){
  .flexBox{flex-direction: column;}
  .imgsic {margin: 7rem auto 3rem auto; margin-top: 7rem;}
}
