.container {
  width: 45%;
  max-width: 100%;
  text-align: center;
  background-color: rgb(228, 230, 200);
  box-shadow: 2px 2px 5px #999;
  border-radius: 8px;
  overflow: hidden;
  margin: 2rem;
  box-sizing: border-box;
}
.container img {
  width: 80%;
  height: 30rem;
  width: 100%;
  object-fit: cover;
}
.food_items h2 {
  margin-bottom: 2rem;
}
.food_items .text {
  padding: 1.5rem;
}
.text {
  /* float: left; */
  background: rgba(191, 224, 142, 0.4);
  border-radius: 8px;
  overflow: hidden;
  padding: 10%;
}
.content {
  display: flex;
  justify-content: space-around;
}
