.mypictureContainer {
  display: flex;
  justify-content: space-around;
}
.imgBox {
  width: 30%;
  height: 200px;
  overflow: hidden;
}
.mypicture {
  width: 60px;
  height: 100px;
  object-fit: cover;
}

/* <div className="imgBox" key={index}>
          <img className="mypicture"src={url} /> */
