@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
.headerDiv {
  display: flex;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 80px;
  background-color: black;
  justify-content: space-between;
  color: white;
}
.headerDiv li {
  color: white;
  padding: 5px;
  margin: 5px;
  text-align: right;
  border-radius: 5px;
}
#page_logo a {
  color: white;
  text-decoration: none;
  font-family: 'ImcreSoojin';
  font-size: 50px;
}
.email {
  margin-right: 10px;
}
.password {
  margin-right: 10px;
}

.containerBox {
  display: flex;
  font-family: 'ImcreSoojin';
  flex-direction: row-reverse;
}
.requireloginDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.requireNavDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.google {
  font: inherit;
  margin-left: 10px;
  padding: 0.1rem;
  width: 70px;
  height: 20px;
  margin-top: 1px;
  margin-left: auto;
  border-radius: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 780px) {
  .logininfo {
    font-size: 14px;
  }
  #page_logo a {
    font-size: 35px;
  }
}
