* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
#backgroundImg {
  padding-top: 80px;
  width: 100%;
}
.background-Img {
  width: 100%;
  height: 450px;
  background-image: url('https://cdn.canceranswer.co.kr/news/photo/202110/3190_5012_427.jpg');
  background-repeat: repeat-x;
  background-size: 500px 100%;
  opacity: 50%;
}

.chucheon-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  font-family: 'ImcreSoojin';
  justify-content: space-around;
}
.content-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.fixedContent {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: bisque;
  top: 15rem;
  right: 1rem;
  position: fixed;
}
.plusBox {
  width: 3rem;
  height: 10rem;
}
h2 {
  margin-top: 100px;
  padding-bottom: 20px;
  font-size: 30px;
  width: 100%;
}
.info{
  font-family: 'ImcreSoojin';
  margin-bottom: 50px
}
