* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
#backgroundImg {
  padding-top: 80px;
  width: 100%;
}
.background-Img {
  width: 100%;
  height: 450px;
  background-image: url('https://cdn.canceranswer.co.kr/news/photo/202110/3190_5012_427.jpg');
  background-repeat: repeat-x;
  background-size: 500px 100%;
  opacity: 50%;
}
h2{
  font-family: 'ImcreSoojin';
  margin-bottom: 10px;
  
}
.chucheon-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  font-family: 'ImcreSoojin';
  justify-content: space-around;
}
.content-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.fixedContent {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: bisque;
  top: 15rem;
  right: 1rem;
  position: fixed;
}
.plusBox {
  width: 3rem;
  height: 1rem;
}
.introH2 {
  margin-top: 100px;
  padding-bottom: 20px;
  font-size: 30px;
  width: 100%;

}
.info{
  font-family: 'ImcreSoojin';
  margin-bottom: 50px
}
.col_s_1{width:8.33%}.col_s_2{width:16.66%}.col_s_3{width:25%}.col_s_4{width:33.33%}.col_s_5{width:41.66%}.col_s_6{width:50%}.col_s_7{width:58.33%}
        .col_s_8{width:66.66%}.col_s_9{width:75%}.col_s_10{width:83.33%}.col_s_11{width:91.66%}.col_s_12{width:100%}

@media only screen and (min-width:1200px){
  /* 데스크톱 CSS*/
  .col_1{width:8.33%}.col_2{width:16.66%}.col_3{width:25%}.col_4{width:33.33%}.col_5{width:41.66%}.col_6{width:50%}.col_7{width:58.33%}.col_8{width:66.66%}.col_9{width:75%}.col_10{width:83.33%}.col_11{width:91.66%}.col_12{width:100%}
}
