* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
.pBox{
  font-family: 'ImcreSoojin';
}
#backgroundImg {
  padding-top: 80px;
  width: 100%;

}
.background-Img {
  /* width: 300px; */
  height: 450px;
  background-image: url('https://cdn.canceranswer.co.kr/news/photo/202110/3190_5012_427.jpg');
  background-repeat: repeat-x;
  background-size: 500px 100%;
  opacity: 50%;
}
.dietinfo{
  margin: 0 auto;
  
}
.chucheon-container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.content-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.fixedContent {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: bisque;
  top: 15rem;
  right: 1rem;
  position: fixed;
}
.plusBox {
  width: 3rem;
  height: 1rem;
  font-size: 15px;
}
.introH2 {
  margin-top: 100px;
  padding-bottom: 20px;
  font-size: 30px;
  width: 100%;

}
#section3{
  width: 100%;
  text-align: center;
}
.info1{
  font-size: 20px;
}
.diteinfo{
  margin: 0 auto;
}
@media only screen and (min-width:780px){
  .chucheon-container{flex-direction: row;}
  .container{width: 50%;}
  .container img{width: 200px; height: 200px;}
  .container{margin: 0 auto;}
  .containerimg{width: 200px;}


}
@media only screen and (max-width:780px){
  .chucheon-container{flex-direction: row;}
  .container img{width: 100px; height: 100px;}
  .container{margin: 0 auto;}
  .info1{padding: 10px; margin: 0 auto;}
  .player1{display: none;}
  .player2{width: 50%;}
  .player3{width: 50%;}
  .containerimg{width: 100px;}
  .text{font-size: 15px;}


}

