.container {
  /* display: flex; */
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  margin: 2rem;
  box-sizing: border-box;
  width: 400px;
}
.container img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}
.containerimg{
 margin: 0 auto;
 width: 400px;
}
.food_items h2 {
  margin-bottom: 2rem;
}
.food_items .text {
  padding: 1.5rem;
}
.containertext{
  display: flex;

}
.text {
  float: left;
  border-radius: 8px;
  overflow: hidden;
  padding: 10%;
  font-size: 20px;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-around;
}

/* pc 버전 */
@media only screen and (min-width:300px){
}

/* 테블릿 버전        */
@media only screen and (min-width:780px){
}

/* 스마트폰 버전 */
@media only screen and (min-width:1200px){
  /* 데스크톱 CSS*/
}
