* {
  margin: 0;
  padding: 0;
}
.formContainer {
  width: 70%;
  height: 50%;
  border: 1px solid blue;
}
.formContainer input {
  font: inherit;
}
.myDietProcessContainer {
  height: 20%;
  display: flex;
  font-size:15px ;
}
.imgclick{
  width: 400px;
}
