.dropdownBox {
  display: flex;
  margin: 0.5rem auto;
  justify-content: center;
}
.dropdown {
  margin: 0 auto;
  position: relative;
  width: 300px;
  margin-bottom: 8px;
}

.dropdown-toggle {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  line-height: 50px;
  color: rgba(133, 136, 150, 0.5);
  text-align: left;
  border: 1px solid rgba(224, 226, 231, 0.75);
  border-radius: 6px;
  transition: border-color 100ms ease-in;
}

.dropdown-toggle.selected {
  color: #3f4150;
  border-color: rgba(224, 226, 231, 1);
}

.dropdown-toggle:active {
  border-color: rgba(224, 226, 231, 1);
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: rgb(185, 241, 145);
  border-radius: 6px;
  transition: border-color 200ms ease-in, padding 200ms ease-in,
    max-height 200ms ease-in, box-shadow 200ms ease-in;
}
.closedrop {
  width: 10%;
  margin-right: 3rem;
  cursor: pointer;
}

.dropdown-menu.show {
  padding: 8px 0;
  max-height: 600px;
  border-color: rgba(224, 226, 231, 0.5);
  box-shadow: 0 4px 9px 0 rgba(63, 65, 80, 0.1);
  z-index: 20;
}

.dropdown-option {
  width: 80%;
  height: 2rem;
  margin: 1rem auto;
  line-height: 2rem;
  text-align: left;
}
.dropdown-option input {
  width: 80%;
  margin: 0 auto;
}

.dropdown-option:hover {
  background-color: rgba(233, 172, 42, 0.2);
  border-radius: 12px;
}
