* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
.headerDiv {
  display: flex;
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 80px;
  background-color: black;
  justify-content: space-between;
  color: white;
}
.headerDiv ul {
  margin-right: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}
.headerDiv li {
  color: white;
  padding: 5px;
  margin: 1px;
  text-align: right;
  border-radius: 5px;
}
#page_logo:active {
  font-family: 'ImcreSoojin';
}
#page_logo {
  font-size: 50px;
  color: white;
  text-decoration: none;
  font-family: 'ImcreSoojin';
}
.userProfile {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.navItems {
  padding: 15px;
  font-family: 'ImcreSoojin';
  text-align: right;
}
.logoutBtn {
  font: inherit;
  margin-left: 0.5rem;
  background-color: rgb(143, 236, 218);
  width: 70px;
  height: 20px;
  border-color: rgb(108, 218, 246);
  border-radius: 6px;
  box-shadow: 1px 1px 6px white;
}
.ss{
  color: bisque;
}
*{
  margin:0;
  padding:0;

}

input[id="icon"] {
  display:none;
} 

body{
  height:5000px;
}

input[id="icon"] + label{
  position: relative;
  display:block;
  width:20px;
  height:10px;
  cursor:pointer;  /* 커서를 올려놓을 때 모양이 바뀐다. */
} 

input[id="icon"] + label > span {
  position: absolute;
  display:block;
  width:100%;
  height:5px;
  border-radius:30px;
  background:pink;
  transition: all 0.35s;  /* 진행되는 과정들을 천천히 보여줄 수 있다. 0.35초 동안 진행됨 */
  z-index:2;

}

input[id="icon"] + label > span:nth-child(1) {
  top:0px;
}

input[id="icon"] + label > span:nth-child(2) {
  top:50%;
  transform: translateY(-50%);  /* 엘리먼트를 변형할 때 쓴다. 비틀거나 구부리거나 돌릴 때 . 여러가지로 모양을 바꿀 때 */
}

input[id="icon"] + label > span:nth-child(3) {
  bottom:0px;
}


input[id="icon"]:checked + label > span:nth-child(1) {
  top:50%;
  transform:translateY(-50%) rotate(45deg);
}

input[id="icon"]:checked + label > span:nth-child(2) {
  opacity: 0;
}

input[id="icon"]:checked + label > span:nth-child(3) {
  bottom:50%;
  transform:translateY(50%) rotate(-45deg);
}

#icon + label + #header {
  position:fixed;  /* 스크롤을 내리더라도 같은 위치에서 붙어다닌다. */
  width:300px;
  height:100%;
  background:#333;
  top:0px;
  padding:60px 25px 25px 25px;
  box-sizing:border-box;
  left:-300px;
  z-index:1;
  transition: all 0.35s;
}

#icon:checked + label + #header {
  left:0px;
}

#icon:checked + label + #header > ul > li > a {
  color: white;

}







