* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
.headerDiv {
  display: flex;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 80px;
  background-color: black;
  justify-content: space-between;
  color: white;
}
.headerDiv ul {
  margin-right: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  list-style: none;
}
.headerDiv li {
  color: white;
  padding: 5px;
  margin: 5px;
  text-align: right;
  border-radius: 5px;
}
#page_logo:active {
  font-family: 'ImcreSoojin';
}
#page_logo{
  font-size: 50px;
  color: white;
  text-decoration: none;
  font-family: 'ImcreSoojin';
}
/* #page_logo h1 {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-family: 'ImcreSoojin';
  /* font-family: 'Oleo Script', sans-serif; */
  /* font-size: 50px;
  text-align: right;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
} */ 
.navItems {
  padding: 15px;
}
.logoutBtn{
  background-color: darkgrey;
  width: 50px;
  height: 20px;
}
