@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
.CalendarContainer {
  margin-top: 90px;
  width: 600px;
  height: 720px;
  display: inline-block;
}
.react-calendar {
  width: 100%;
}
.inmydiary {
  font-family: 'ImcreSoojin';
  padding: 0.5rem;
  width: 100%;
  border: none;
  background: linear-gradient(45deg, rgb(243, 249, 198), rgb(244, 228, 126));
}
li {
  list-style-type: none;
}
.CalendarContainer h3 {
  padding: 10px;
}
.water li {
  padding-right: 10px;
  display: inline;
}
